Body {background-color:#222222;}
h1{color: rgb(255, 224, 122)}
h2{color:rgb(255, 255, 255); font-family: verdana; font-size: 24px}
p {color:rgb(187, 131, 85); font-family: verdana; font-size: 24px}